In [7]:
import pandas as pd
import numpy as np
import sqlalchemy as alch
from getpass import getpass
import pymysql

In [13]:
dbName = "RickandMorty"
contra = getpass("escribe admin")

escribe admin········

In [14]:
conectdb = f"mysql+pymysql://root:{contra}@localhost:6033/{dbName}"

In [32]:
engine = alch.create_engine(conectdb)

AttributeError: 'Engine' object has no attribute 'cursor'

In [16]:
df = pd.read_sql_query(
"""
SELECT * FROM RickandMorty.Characters;
""", engine)

In [25]:
datos = pd.read_csv('datos/Data.csv')
datos.head()

,Season,Epi_number,Epi_name,character,line
0,1,1,Pilot,Rick,Morty! You gotta come on. Jus'... you gotta co...
1,1,1,Pilot,Morty,"What, Rick? What’s going on?"
2,1,1,Pilot,Rick,"I got a surprise for you, Morty."
3,1,1,Pilot,Morty,It's the middle of the night. What are you tal...
4,1,1,Pilot,Rick,"Come on, I got a surprise for you. Come on, h..."

In [33]:
personajes = datos['character']
personajes.head()

0     Rick
1    Morty
2     Rick
3    Morty
4     Rick
Name: character, dtype: object

In [17]:
personajes = pd.read_sql_query(f'INSERT INTO Characters VALUES ()')

Empty DataFrame
Columns: [id_character, personaje]
Index: []